/* ionic source link*/
/* @import "http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css"; */
/* @import "./image/ionicons.min.css"; */

.site-aside {
    position: absolute;
    top: 50px;
    margin: 0;
    padding: 0;
}

.sidebar {
    float: left;
    width: 100px;
    margin-left: -100px;
    height: 50vh;
    overflow: hidden;
    transition:1s all;
}
 
.side {
    margin-left: 0;
}

.sidebar ul li {
  list-style: none;
}


.sidebar ul li a {
  text-decoration: none;
  color: white;
  height: 80px;
  width: 100%;
  font-size: 40px;
  line-height: 80px;
  text-align: center;
  display: block;
  transition: 0.6s all;
}

.sidebar ul li a:hover {
  background: #95a5a6;
} 

.btn {
  float: left;
  padding: 0 10px;
  font-size: 40px;
  text-decoration: none;
  color:  rgb(214, 214, 214);
  font-family: Ionicons;
  cursor: pointer;
}

.btn:before {
  content: '\f32a';
}

.btnc:before {
  content: '\f12a';
}
