* {
    margin: 0;
    padding: 0;
}

.wrapper {
    position: relative;
    width: 100%;
    /* height: 100vh; */
    background-color: #F2F2F2;
    font-family: sans-serif;
}

.site-header {
    top: 0;
    width: 100%;
    height: 44px;
    background-color: rgba(48, 48, 51, 0.9);
    position: fixed;
    
}
.site-header__nav {
    display: flex;
    justify-content: end;
}
.site-header ul {
    margin-left: 180px;
    list-style: none;
}

.site-header ul li {
    width: 56px;
    height: 44px;
    margin-left: 30px;
    line-height: 44px;
    float: left;
    font-family: "SF Pro SC", "HanHei SC", "SF Pro Text", "Myriad Set Pro", "SF Pro Icons", "PingFang SC", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-size: 10px;
}


.site-header ul a {
    list-style: none;
    color: rgb(214, 214, 214);
    text-decoration: none;
}

.content1 {
    width: 100%;
    height: 50vh;   
    background-color: black; 
    background-image: url(./image/bulls\ logo\ wallpaper800.jpg);
    background-repeat: no-repeat;
    background-position: top;
}

.pic__left {
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-50%,-50%);

}
.pic__right {
    position: absolute;
    top: 50%;
    right: 20%;
    transform: translate(50%,-50%);
 }
/*  */
 .content2_pic {
    position: relative;
    width: 300px;
    height: 250px;
}
.content2_pic:after {
    position: absolute;
    width: 100%;
    height: 100%;
    content: '';
    top: 0;
    left: 0;
    box-shadow: 0 0  30px 30px #ffffff inset;
}
.content2_pic img {
    width: 300px;
    height: 250px;
    display: block;
    margin-bottom: 20px;
}
}
 /* .content2__pic img:not([src]){opacity:0;} */


/* .content2__picture {
    text-align: center;
    /* background-color: rgb(15, 15, 15); */
    background-image: url(./image/800chicago_bulls_nba_champs.png);
    padding: 1rem;
    
} */

.box1 {
    width: 300px;
    height: 250px;
    /* margin: 120px auto; */
    /* padding: 2rem; */
    transition: 1s;
}

.box2 {
    width: 300px;
    height: 300px;
    /* margin: 120px auto; */
    padding: 2rem;
    transition: 1s;
}

.box2:hover {
    transform: rotateX(45deg) scale(1.5);
    
}
.content3 {
    width: 100%;
    /* margin: 30px auto; */
}
.content3__picture {
    text-align: center;
    background-color:  rgb(214, 214, 214);
    background-image:linear-gradient(rgba(4, 9, 30, 0.8), rgba(4, 9, 30, 0.8)), url(./image/content3.jpg);
    background-repeat: repeat;
  
}
.content4 {
    background-image: url(./image/Michael-222.jpg); 
    height: 50vh;
}
 /* .content4 {
    text-align: center;
    display: flex;
    justify-content: space-around;
    width: 100%;   
 }
 .content4_animation {
    height: 300px;
    margin: 30px;
 }
 .content4 .video {
    margin: 30px;
    
 } */


.content2__picture span {
    color: #f3eeee;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    font-weight: 700;
}

 h2 {
    padding-top: 40px;
    font-family: 'Marcellus SC', serif;
    color: red;
    font-size: 2rem;
   
}

.footer {
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;    
    display: flex inline-block;
    text-align: center;
    padding: 40px;
}
 @media screen and (min-width:800px){
    .content1 {
        width: 100%;
        height: 100vh;
        background-image: url(./image/bulls\ logo\ wallpaper.jpg);
    }
    h1,h2 {

        font-size: 3rem;
       
    }

    
 }