* {
    margin: 0;
    padding: 0;
}

.wrapper {
    position: relative;
    width: 100%;
    background-color: #333;
    font-family: sans-serif;
}

.site-header {
    top: 0;
    width: 100%;
    height: 44px;
    background-color: rgba(48, 48, 51, 0.9);
    position: fixed;
    
}
.site-header__nav {
    display: flex;
    justify-content: end;
}
.site-header ul {
    list-style: none;
}

.site-header ul li {
    width: 56px;
    height: 44px;
    line-height: 44px;
    float: left;
    font-family: "SF Pro SC", "HanHei SC", "SF Pro Text", "Myriad Set Pro", "SF Pro Icons", "PingFang SC", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-size: 0.625rem;
    font-weight: 700;
}


.site-header ul a {
    list-style: none;
    color: red;
    text-decoration: none;
	transition: all 0.5s linear;
	-moz-transition: all 0.5s linear;
	-webkit-transition: all 0.5s linear;
	-o-transition: all 0.5s linear;
}

.site-header ul a:hover {
	color:rgb(214, 214, 214);
	transition: all 0.5s linear;
	-moz-transition: all 0.5s linear;
	-webkit-transition: all 0.5s linear;
	-o-transition: all 0.5s linear;
}

.content1 {
    width: 100%;
    height: 50vh;   
    background-color: black; 
    background-image: url(./image/bulls\ logo\ wallpaper600.jpg);
    background-repeat: no-repeat;
    background-position: top;
    border-bottom: 8px solid #222;
}


.content2 {
    text-align: center;
    background-color: rgb(15, 15, 15);
    background-image:linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(./image/222otherblack\ wallpaper.jpg);
    padding: 2rem;
    border-bottom: 8px solid #222;
   
}

.box1 {
    width: 250px;
    height: 250px;
    padding: 1rem;
    transition: 1s;
}
.box1:hover {
    transform: rotateX(45deg) scale(1.3);
   
}

.box2 {
    width: 250px;
    height: 250px;
    padding: 1rem;
    transition: 1s;
}

.box2:hover {
    transform: rotateX(45deg) scale(1.3);
   
}

.content3__picture {
    text-align: center;
    background-color: rgb(8, 8, 8);
    background-image:linear-gradient(0deg,transparent 50%,rgba(0,0,0,.7)),radial-gradient(50% 100%,transparent 0,rgba(0,0,0,.7) 100%), url(./image/555.jpg);
    background-position: 0 0;
    background-size: cover;
    border-bottom: 8px solid #222;
  
}
.content4 {
    background-image: linear-gradient(0deg,transparent 50%,rgba(0,0,0,.7)),radial-gradient(50% 100%,transparent 0,rgba(0,0,0,.7) 100%), url(./image/Michael-222.jpg);    
    height: 50vh;
    display: flex;
    justify-content: start;
    padding: 1.5rem; 
    border-bottom: 8px solid #222;
    background-size: cover ;
}

 .content4 .video {
   width: 330px;   
 } 

 h1 {
    padding-top: 2rem;
    font-family: 'Roboto';
    color: #F2F2F2;
    font-size: 3vw;
}
p {
    padding-top: 2rem;
    font-family: 'Arial';
    color: red;
    font-size: 2vw;
}


.footer {
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;    
    text-align: center;
    padding: 2.5rem;
}


 @media screen and (min-width:800px){
    .content1 {
        width: 100%;
        height: 100vh;
        background-image: url(./image/bulls\ logo\ wallpaper1500.jpg);
    }
   
    .box1 {
        width: 600px;
        height: 500px;
        padding: 2rem;
        transition: 1s;
    }

    .box2 {
        width: 350px;
        height: 350px;
        padding: 2rem;
        margin: 2rem;
        transition: 1s;
    }

    .content3__picture {
        background-size: contain;
        background-position-y: center;
    }
    .content4 .video {
        width: 800px;   
      } 
      .content4 {
        background-size: contain;
     }

    
 }